pandas==1.0.1
requests==2.23.0
numpy==1.18.0
Flask==1.1.1
flask_caching==1.8.0
flask_cors==3.0.8
flask_mongoengine==0.9.5
flask_restx==0.2.0
gunicorn==20.0.4
keras==2.3.1
mongoengine==0.19.1
python-dotenv==0.12.0
python_dateutil==2.8.1
scikit_learn==0.22.2.post1
Werkzeug==1.0.0
celery==4.4.2
blinker==1.4
tensorflow==1.14
redis==3.4.1
